<style>
    .footer-item{
  width: 100%;
  background-color: #0260cd;
  color: #fff;
  display: flex;
  align-items: center ;
}

.img-footer img{ 
  height: 80px;
  width: 158px;
  padding-left: 65px;
}
.social-footer{
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  width: 80%;
}

.social-footer a{
  padding: 10px;
 
}
.social-footer li{
  transition:0.5s
}
.social-footer li:hover{
  transform: scale(2,2);
}
</style>
<footer id="footer">
        <div class="footer-item">
            <div class="img-footer">
                <img src="/images/logo5.png" alt="">
            </div>
            <div class="social-footer">
                <li>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100028748887289"><i class="fab fa-facebook" style="color: white;"></i></a>
                    
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/seotrang01/"><i class="fab fa-instagram-square" style="color:white;"></i></a>
                    
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/TMC62726338"><i class="fab fa-twitter" style="color: white;"></i></a>
                </li>
            </div>
        </div>
    </footer>