*{
    margin-top: 20px;
}

.col-4{
    /* margin-left: -61px; */
    margin-right: 30px;
    font-weight: 700;
}

/* .btn-cart{
    margin-top: 14px;
  background-color: #ffe500;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 33px;
    margin-left: 32%;
} */

/* .btn-cart:hover{
    background-color: #758dba
  } */

.myposts{
    width: 1320px;
    margin: 10px auto;
}
.post{
    max-width: 1320px;

}


