<style>
    .add-title, .form-add{
        margin: 50px 200px;
        font-weight: 700;
    }
</style>
<div class="add-title">
    <h2>Thêm điện thoại mới</h2>
</div>
<form method="post" class="form-add" action="/admin/store">
    <div class="mb-3">
      <label  for="name" class="form-label">Tên điện thoại</label>
      <input name="name"type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label  for="price" class="form-label">Giá tiền</label>
        <input name="price"type="text" class="form-control" id="price">
      </div>
      <div class="mb-3">
        <label  for="creator" class="form-label">Hãng sản xuất</label>
        <input name="creator"type="text" class="form-control" id="creator">
      </div>
      <div class="mb-3">
        <label  for="img" class="form-label">Link ảnh</label>
        <input name="img"type="text" class="form-control" id="img">
      </div>
      <div class="mb-3">
        <label  for="description" class="form-label">mô tả</label>
        <input name="description"type="text" class="form-control" id="description">
      </div>

    <div class="mb-3 form-check">
      <input name="discount" type="checkbox" class="form-check-input" id="exampleCheck1">
      <label  class="form-check-label" for="exampleCheck1">giảm giá</label>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>